/* ============================================= */
/*              Variables                        */
/* ============================================= */

$gray: #777;

$aqua: #58e1c1;

$blue: #51ddfc;

$purple: #927bc1;

$green: #63cc82;

$breakpoint-tablet: 768px;